.wos {
    background-color: white;
}

.main_legal {
    .title {
        margin-bottom: 0;
        padding-bottom: 0.5rem;
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
        padding: 1rem  0rem 1rem 1rem;
    }

    p {
        font-size: 1rem;
    }
}

.wos_btn_section {
    margin: 0 auto;
    padding: 0rem 1rem;
}

.wosbtn {
    margin: 0 auto;
}